.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: tanslate (-50%, -50%);
  width: auto;
  height: auto;

  div {
    height: 10px;
    width: 10px;
    background-color: $primary-color;
    border-radius: 50%;
    position: absolute;
    animation: 0.8s spin ease-in-out infinite both;
  }
}

.loader > div:nth-child(1) {
  top: -25px;
  left: 0;
}
.loader > div:nth-child(2) {
  top: -17px;
  left: 17px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  animation-delay: 0.2s;
}
.loader > div:nth-child(4) {
  top: 17px;
  left: 17px;
  animation-delay: 0.3s;
}
.loader > div:nth-child(5) {
  top: 25px;
  left: 0;
  animation-delay: 0.4s;
}
.loader > div:nth-child(6) {
  top: 17px;
  left: -17px;
  animation-delay: 0.5s;
}
.loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  animation-delay: 0.6s;
}
.loader > div:nth-child(8) {
  top: -17px;
  left: -17px;
  animation-delay: 0.7s;
}

@keyframes spin {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
