//COLORS
$primary-color: #cc0102;
$secondary-color: #4b8fe1;
$dark-color: #221b1d;
$light-color: #fafafa;

//FONTS
$main-font: 'Mukta', sans-serif;

//FONT SIZE
$font-regular: 16;
$font-extra-small: rem(12);
$font-xs-small: rem(12.8);
$font-small: rem(14);
$font-medium: rem(18);
$font-large: rem(19.2);
$font-extra-large: rem(24);

//MEDIAQUERIES

$tablet: 768px;
$desktop: 1024px;
